/* En-tête de page */
.destination {
    background-color: #004080;
    color: #fff;
    padding: 3rem;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.destination h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.destination p {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Destinations */
.destinations {
    padding: 3rem 5%;
}

.destinations h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.destination-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.destination-item:hover {
    transform: scale(1.05);
}

.destination-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.destination-item h3 {
    padding: 1rem;
    font-size: 1.5rem;
    color: #004080;
}

.destination-item p {
    padding: 0 1rem 1rem;
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
}

.price {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff6600;
    padding: 0 1rem 1rem;
    text-align: right;
}

/* Pied de page */
/* Style des boutons dans les destinations */
.destination-actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.btn-book, .btn-info {
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    background-color: #ff6600; /* Couleur pour "Réservez maintenant" */
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-book:hover, .btn-info:hover {
    background-color: #e65c00;
}

.btn-info {
    background-color: #004080; /* Couleur pour "Plus d'infos" */
}

.btn-info:hover {
    background-color: #003366;
}